// Your custom blog styles here
.site-logo {
  font-family: 'Alfa Slab One', cursive;
}

.hero {
  span {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.08em;
  }
}
.hero.hero-red {
  background-image: $gradient-linear-red-dark;
}

footer {
  background-image: $gradient-linear-grey-dark;
  ul {
    list-style: none;
  }
}
